---
import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';
import '../styles/global.css';

const { pageTitle, lang, basics, config, social } = Astro.props;
---

<html lang={lang} class="dark scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <!-- <link rel="icon" href="/favicon.ico" /> -->
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Story+Script&display=swap"
      rel="stylesheet"
    />
    <script>
      const logoBtn = document.getElementById('logo-button');

      if (logoBtn) {
        logoBtn.addEventListener('click', (e) => {
          e.preventDefault();

          window.scrollTo({ top: 0 });
          window.history.pushState({}, '', window.location.pathname);
        });
      }
    </script>
  </head>
  <body
    class="bg-background-light dark:bg-background-dark grid-bg text-slate-800 transition-colors duration-300 dark:text-slate-100"
  >
    <Navbar brandName={basics.brandName} navBar={config.navBar} />

    <main class="flex min-h-screen flex-col items-center px-4">
      <slot />
    </main>

    <Footer brandName={basics.brandName} social={social} />
  </body>
</html>
